In [43]:
#Suppress Warnings
options(warn = -1)
#Libraries
library(naivebayes)
library(e1071)
library(caTools)
library(ggplot2)
library(caret)
library(dplyr)
library(gdata)
library(ROSE)
library(stringr)
library(rBayesianOptimization)
library(psych)
library(smotefamily)
library(randomForest)
library(class)
library(superml)
library(corrplot)
library(klaR)
library(ROCR)
library(pROC)
library(MLmetrics)

In [44]:
df=read.csv("preprocessed.csv",header=TRUE)
df=df[-1]
model<-readRDS("StudentPlacementPredModel.RData")

In [45]:
head(df)

  gender ssc_p ssc_b   hsc_p hsc_b   hsc_s    degree_p degree_t  workex etest_p
1 M      67.00 Others  91.00 Others  Commerce 58.00    Sci&Tech  No     55.0
2 M      79.33 Central 78.33 Others  Science  77.48    Sci&Tech  Yes    86.5
3 M      65.00 Central 68.00 Central Arts     64.00    Comm&Mgmt No     75.0
4 M      56.00 Central 52.00 Central Science  52.00    Sci&Tech  No     66.0
5 M      85.80 Central 73.60 Central Commerce 73.30    Comm&Mgmt No     96.8
6 M      55.00 Others  49.80 Others  Science  67.25    Sci&Tech  Yes    55.0
  specialisation mba_p status
1 Mkt&HR         58.80 Placed
2 Mkt&Fin        66.28 Placed
3 Mkt&Fin        57.80 Placed
4 Mkt&HR         59.43 Not Placed
5 Mkt&Fin        55.50 Placed
6 Mkt&Fin        51.58 Not Placed

In [46]:
preds<-predict(model,df)

In [47]:
cm <- table(df$status, preds)
cm

            preds
             Not Placed Placed
  Not Placed         50     17
  Placed             12    136

In [48]:
confusionMatrix(cm, positive = "Placed")

Confusion Matrix and Statistics

            preds
             Not Placed Placed
  Not Placed         50     17
  Placed             12    136

               Accuracy : 0.8651
                 95% CI : (0.8121, 0.9078)
    No Information Rate : 0.7116
    P-Value [Acc > NIR] : 7.877e-08

                  Kappa : 0.6791

 Mcnemar's Test P-Value : 0.4576

            Sensitivity : 0.8889
            Specificity : 0.8065
         Pos Pred Value : 0.9189
         Neg Pred Value : 0.7463
             Prevalence : 0.7116
         Detection Rate : 0.6326
   Detection Prevalence : 0.6884
      Balanced Accuracy : 0.8477

       'Positive' Class : Placed